/* Global Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Sans Serif';
    box-sizing: border-box;
}
body{
    background: rgb(147, 199, 230);
    color: rgb(6, 6, 66);
    line-height: 1.7;
    scroll-behavior: smooth;
}

/* Header and Navigation */
header {
    background: rgb(6, 6, 66);
    color: white;
    padding: 0rem 2rem;
    justify-content: space-between;
    align-items: center;
    top: 0;
    /*position: sticky;*/
    /*display: flex;*/
    
}

nav dl {
    display: flex;
    justify-content: center;
    /*list-style: none;
    display: flex;
    gap: 25px;*/
}

/*nav a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: underline;
}*/

.left{
    font-size: 1.5rem;;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(6, 6, 66);
}

nav dl dt{
    margin: 0 23px;
}
nav dl dt a{
   font-size: 1.2rem;
   text-decoration: none;
   color: rgb(240, 235, 229);
}
nav dl dt a:hover{
    text-decoration: underline;
    color: rgb(187, 176, 17);
 }
/* Home Section */
/*.firstsec {
    color: white;
}*/
.firstsec{
    display: flex;
    justify-content: space-around;
    padding: 75px 0;
    align-items: center;
    background-image: url('kb.jpg');
    background-size: cover;
    color: white;
}
/*.firstsec button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
}*/
.firstsec > div{ /*its get applied on the first div only*/
    width: 30%;
}
.leftsec{
    font-size: 2.5rem;
}
.leftsec .btn{
   margin: 30px 0;
   padding: 12px;
   background: rgb(49, 4, 94);
   border-color: aliceblue;
   border-radius: 10px;
   color: aliceblue;
   font-size: 20px;
   cursor: pointer; 
}
.leftsec .btn:hover{
    background-color: #8f94fb;
    color: #222;
    font-weight: bold;
}
.purple{
    color: rgb(49, 4, 94);
}
.rightsec img{
    width: 100%;
}
#element{
    color: rgb(49, 4, 94);
}

/* Sections */
.abtsection {
    padding: 3rem 6rem;
    text-align:justify;
    background-color: rgb(6, 6, 66);
    color: aliceblue;
}
.abtsection h1{
    text-align: center;
}
.abtsection h1:hover{
    color: rgb(147, 199, 230);
    text-decoration: underline;
    cursor: pointer;
}
.abtsection p{
    text-align: justify;
    padding: 2rem 0;
    font-size: 1.3rem;
}
.abtsection .p1 p{
    color: rgb(147, 199, 230);
    text-align: justify;
    padding: 0;
    font-size: 1.3rem;
}
.abtsection .p1 p span{
    color: aliceblue;
    text-align: justify;
    padding: 0;
    font-size: 1.3rem;
}
.expsection {
    color: rgb(6, 6, 66);
    padding: 2rem 2rem;
    text-align: center;
}
.expsection h2:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
/* Service Cards */
.servsection {
    color: rgb(6, 6, 66);
    padding: 4rem 2rem;
    text-align: center;
}
.servsection h2:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.service-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
    
}

.service-card a {
    display: inline-block;
    margin-top: 10px;
    color: #4e54c8;
}
/*education*/
.edusection {
    padding: 3rem 4rem;
    text-align:justify;
    background-color: rgb(6, 6, 66);
    color: aliceblue;
}
.edusection h1{
    text-align: center;
}
.edusection h1:hover{
    color: rgb(147, 199, 230);
    text-decoration: underline;
    cursor: pointer;
}
.edusection .p1 ul li{
    color: aliceblue;
    text-align: left;
    
    line-height: 140%;
    padding: 0;
    font-size: 1.2rem;
}
/* Project Cards */
.prosection {
    background-color: rgb(6, 6, 66);
    color: aliceblue;
    padding: 4rem 2rem;
    text-align: center;
}
.prosection h2{
    padding-bottom: 2rem;
}
.prosection h2:hover{
    color: rgb(147, 199, 230);
    text-decoration: underline;
    cursor: pointer;
}
.prosection .card{
    height: 32vh;
    color: rgb(6, 6, 66);
}
.project-card1 {
    background-image: url(atm-image.jpg);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
}
.project-card1:hover {
    background-image: url(atm-image.jpg);
    background-size: cover;
}
.project-card1 h3 {
    color: black;
}
.project-card1 a{
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-card1 a:hover{
    color: blue;
}
.project-card2 {
    background-image: url(pf.jpg);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
}
.project-card2:hover {
    background-image: url(pf.jpg);
    background-size: cover;
}
.project-card2 h3 {
    color: black;
}
.project-card2 a{
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-card2 a:hover{
    color: blue;
}
.project-card3 {
    background-image: url(4.jpg);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
}
.project-card3:hover {
    background-image: url(4.jpg);
    background-size: cover;
}
.project-card3 h3 {
    color: black;
}
.project-card3 a{
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-card3 a:hover{
    color: blue;
}



.project-card4 {
    background-image: url(surv.png);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
}
.project-card4:hover {
    background-image: url(surv.png);
    background-size: cover;
}
.project-card4 h3 {
    color: black;
}
.project-card4 a{
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-card4 a:hover{
    color: blue;
}

.project-card5 {
    background-image: url(tri.jpg);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
}
.project-card5:hover {
    background-image: url(tri.jpg);
    background-size: cover;
}
.project-card5 h3 {
    color: black;
}
.project-card5 a{
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-card5 a:hover{
    color: blue;
}

.project-card6 {
    background-image: url(calc.jpg);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
}
.project-card6:hover {
    background-image: url(calc.jpg);
    background-size: cover;
}
.project-card6 h3 {
    color: black;
}
.project-card6 a{
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-card6 a:hover{
    color: blue;
}

.project-card7 {
    background-image: url(td.jpg);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
}
.project-card7:hover {
    background-image: url(td.jpg);
    background-size: cover;
}
.project-card7 h3 {
    color: black;
}
.project-card7 a{
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-card7 a:hover{
    color: blue;
}
.project-card8 {
    background-image: url(rps.jpg);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
}
.project-card8:hover {
    background-image: url(rps.jpg);
    background-size: cover;
}
.project-card8 h3 {
    color: black;
}
.project-card8 a{
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-card8 a:hover{
    color: blue;
}

.project-card9 {
    background-image: url(tel.png);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
}
.project-card9:hover {
    background-image: url(tel.png);
    background-size: cover;
}
.project-card9 h3 {
    color: black;
}
.project-card9 a{
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-card9 a:hover{
    color: blue;
}
/* Contact Form */
.section {
    padding: 4rem 2rem;
    text-align: center;
}
.section h2{
    font-size: 1.8rem;
}
.section h2:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.section span{
    font-size: 1.1rem;
}
form {
    max-width: 500px;
    margin: auto;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background: rgb(49, 4, 94);
    border-radius: 10px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background: #8f94fb;
    color: #222
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: rgb(6, 6, 66);
    color: white;
}